<%= form_tag universities_path, :method => "get", :class => "form-search" do %>
  <%= label_tag :query, "Search by name" %>
  <%= text_field_tag :query, params[:query] %>
  <%= label_tag :state  %>
  <%= select_tag :state, options_for_select(@states, params[:state])   %>
  <%= submit_tag "Search", :class => 'btn' %>
<% end %>

<div class="well"
  <h5>This table is highly interactive. Click a blue column title to sort by a value, click again to reverse the order. You can search in just one state and order the colleges on a statistic within just that state.</h5>
  <h5>Also definitely be sure to click on some colleges (names) and view their sources of annual funding, uses of that funding, etc, all visualized.</h5>
</div> 



<%= will_paginate @universities %>

<% if params[:sort] %>
<% desc_or_asc = {"desc" => "highest to lowest", "asc" => "lowest to highest"}  %>
  <div class="well well-small"><h5>
  	  Sorted by <%= params[:sort].titleize %>, <%= desc_or_asc[params[:direction]]  %>  	
  </h5></div>
  <% elsif current_page?(root_url) || current_page?(universities_url) %>
  <div class="well well-small"><h5>
  	  Sorted by Research Spending per Full Time Student, highest to lowest  	
  </h5></div>  
<% end %>

<table class="table table-bordered table-hover">
  <tr>
    <th><%= sortable "name", params,"Name"%></th>
    <th><%= sortable "city", params,"City" %></th>
    <th><%= sortable "state", params,"State" %></th>
    <th>Web Address</th>
    <th><%= sortable "total_enrollment_2003", params,"2003 Enrollment"%></th>
    <th><%= sortable "total_enrollment_2011", params,"2011 Enrollment"%></th>
    <th><%= sortable "pctg_total_enrollment_change", params,"% Change"%></th>
    <th><%= sortable "freshmen_entering_latest_available", params,"2011 Freshman Fall Class &Dagger;".html_safe%></th>
    <th><%= sortable "latest_endowment_number", params,"Latest Endowment Number"%></th>
    <th><%= sortable "revenues_2011", params,"Annual Revenue"%></th>
    <th><%= sortable "revenues_pctg_tuition_2011", params,"Rev % Tuition"%></th>
    <th><%= sortable "revenues_pctg_federal_aid_2011", params,"Revenues % FedAid"%></th>
    <th><%= sortable "revenues_pctg_state_funding_2011", params,"Revenues % State Funds"%></th>
    <th><%= sortable "revenues_pctg_substate_funding_2011", params,"Revenues % Sub-state (local) funds"%></th>
    <th><%= sortable "revenues_pctg_priv_gifts_2011", params,"Revenues % Private Gifts"%></th>
    <th><%= sortable "revenues_pctg_inv_return_2011", params,"Revenues % Inv Return"%></th>
    <th><%= sortable "instruction_exp_person_2011", params,"Instruction $/Student"%>
    <th><%= sortable "research_exp_per_person_2011", params,"Research $/Student" %>
  </tr>
  <% @universities.each do |f| %>
  <tr>
    <td><%= link_to f.name, university_path(f) %></td>
    <td><%= f.city %></td>
    <td><%= f.state %></td>
    <td><%= link_to nil, "http://#{f.web_address}".downcase %></td>
    <td><%= f.total_enrollment_2003 %></td>
    <td><%= f.total_enrollment_2011 %></td>
    <% x = f.pctg_total_enrollment_change.round(2) if f.pctg_total_enrollment_change || nil %>
    <td><%= "#{x}%" %></td>
    <td><%= f.freshmen_entering_latest_available %></td>
    <td><%= number_to_currency(f.latest_endowment_number, :unit => "$") %></td>
    <td><%= number_to_currency(f.revenues_2011, :unit => "$") %></td>
    <td><%= f.revenues_pctg_tuition_2011 %></td>
    <td><%= f.revenues_pctg_federal_aid_2011 %></td>
    <td><%= f.revenues_pctg_state_funding_2011 %></td>
    <td><%= f.revenues_pctg_substate_funding_2011 %></td>
    <td><%= f.revenues_pctg_priv_gifts_2011 %></td>
    <td><%= f.revenues_pctg_inv_return_2011 %></td>
    <td><%= number_to_currency(f.instruction_exp_person_2011, :unit => "$") %></td>
    <td><%= number_to_currency(f.research_exp_per_person_2011, :unit => "$") %></td>
  </tr>
  <% end %>
</table>

<div class="well">
	<ul>Notes<br/>
	&Dagger; - or most recent (some Ivy League records are as old as 1996 but no more than that, most are c. 2004-2011)<br/>
	The source for this data was the Department of Education (<a href="http://nces.ed.gov/ipeds">nces.ed.gov/ipeds</a>). There were originally over 9000 federally accredited institutions in this database, but the list was cut down to about 980 by some basic criteria requirements, namely the presence of significant datasets and 2003 enrollment numbers (>5000).
        </ul>
</div>
