<%= form_tag universities_path, :method => "get", :class => "form-search" do %>
  <%= label_tag :query, "Search by name" %>
  <%= text_field_tag :query %>
  <%= label_tag :state  %>
  <%= select_tag :state, options_for_select(@states, params[:state])  %>
  <%= submit_tag "Search", :class => 'btn' %>
<% end %>

<div class="well"
  <h5>This table is highly interactive. Click a blue column title to sort by a value, click again to reverse the order. You can search in just one state and order the colleges on a statistic within just that state.</h5>
  <h5>Also definitely be sure to click on some colleges (names) and view their sources of annual funding, uses of that funding, etc, all visualized.</h5>
</div> 

<%= will_paginate @universities %>

<% if params[:sort] %>
<% desc_or_asc = {"desc" => "highest to lowest", "asc" => "lowest to highest"}  %>
  <div class="well well-small">
  	<h5>
  	  Sorted by <%= params[:sort].titleize %>, <%= desc_or_asc[params[:direction]]  %>  	
  	</h5>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <tr>
    <th><%= sortable "name", "Name", params[:state] %></th>
    <th><%= sortable "city", "City", params[:state] %></th>
    <th><%= sortable "state", "State" %></th>
    <th>Web Address</th>
    <th><%= sortable "total_enrollment_2003", "2003 Enrollment", params[:state] %></th>
    <th><%= sortable "total_enrollment_2011", "2011 Enrollment", params[:state] %></th>
    <th><%= sortable "pctg_total_enrollment_change", "% Change", params[:state] %></th>
    <th><%= sortable "latest_endowment_number", "Latest Endowment Number", params[:state] %></th>
    <th><%= sortable "revenues_2011", "Annual Revenue", params[:state] %></th>
    <th><%= sortable "revenues_pctg_tuition_2011", "Rev % Tuition", params[:state] %></th>
    <th><%= sortable "revenues_pctg_federal_aid_2011", "Revenues % FedAid", params[:state] %></th>
    <th><%= sortable "revenues_pctg_priv_gifts_2011", "Revenues % Private Gifts", params[:state] %></th>
    <th><%= sortable "revenues_pctg_inv_return_2011", "Revenues % Inv Return", params[:state] %></th>
    <th><%= sortable "instruction_exp_person_2011", "Instruction $/Student", params[:state] %>
    <th><%= sortable "research_exp_per_person_2011", "Research $/Student", params[:state] %>
  </tr>
  <% @universities.each do |f| %>
  <tr>
    <td><%= link_to f.name, university_path(f) %></td>
    <td><%= f.city %></td>
    <td><%= f.state %></td>
    <td><%= link_to f.web_address.downcase, f.web_address %></td>
    <td><%= f.total_enrollment_2003 %></td>
    <td><%= f.total_enrollment_2011 %></td>
    <% x = f.pctg_total_enrollment_change.round(2) if f.pctg_total_enrollment_change || nil %>
    <td><%= "#{x}%" %></td>
    <td><%= number_to_currency(f.latest_endowment_number, :unit => "$") %></td>
    <td><%= number_to_currency(f.revenues_2011, :unit => "$") %></td>
    <td><%= f.revenues_pctg_tuition_2011 %></td>
    <td><%= f.revenues_pctg_federal_aid_2011 %></td>
    <td><%= f.revenues_pctg_priv_gifts_2011 %></td>
    <td><%= f.revenues_pctg_inv_return_2011 %></td>
    <td><%= number_to_currency(f.instruction_exp_person_2011, :unit => "$") %></td>
    <td><%= number_to_currency(f.research_exp_per_person_2011, :unit => "$") %></td>
  </tr>
  <% end %>
</table>
