<div class="hero-unit">
  <h1><%= @university.name  %></h1>
  <p><%= @university.address  %></p>
  <p><%= "#{@university.city}, #{@university.state} #{@university.zip}"  %></p>
  <p>Freshman Class of 2015 size (&Dagger;): <%= @university.freshmen_entering_latest_available %></p>
  <p><%= link_to nil, "http://#{@university.web_address}".downcase  %></p>
  <p><%= @university.phone  %></p>
  <%= link_to "Back", universities_path, :class => 'btn'  %>
</div>

  <div class="row">
    <div class="span12"
         <h2>Endowment</h2>
      <%= high_chart("endowment", @endowments) %>
    </div>
  </div>
</h1>

<div class="row">
  <div class="span8">
    
<table class="table table-borders table-hover">
  <h2>Room and Board Stats</h2>
  <tr>
    <th>Year</th>
    <th>Total Dormroom Capacity</th>
    <th>Average Dorm Room Cost/Year</th>
  </tr>
  <% @university.room_and_boards.each do |r| %>
  <tr>
    <td><%= r.year %></td>
    <td><%= r.total_dormroom_capacity %></td>
    <td><%= r.avg_room_cost_per_year %></td>
  </tr>
<% end %>
</table>
  </div>
  <div class="span4">
    <br/><br/><%= high_chart("dormroom", @rb) %>
  </div>
</div>


<div class="row">
  <div class="span8">
<table class="table table-borders table-hover">
  <h2>Revenues and Sources</h2>
  <tr>
    <th>Year</th>
    <th>Core Revenues USD</th>
    <th>Tuition as %</th>
    <th>State Approps as %</th>
    <th>City Approps as %</th>
    <th>Federal Approps as %</th>
    <th>Private Gifts as %</th>
    <th>Investment Return as %</th>
    <th>Other Sources as %</th>
  </tr>
  <% @university.core_revenues.each do |r| %>
  <tr>
    <td><%= r.year %></td>
    <td><%= number_to_currency(r.core_revenues_usd, :unit => "$") %></td>
    <td><%= r.tuition_et_al_pctg_core %></td>
    <td><%= r.state_approp_pctg_core %></td>
    <td><%= r.local_govt_approp_pctg %></td>
    <td><%= r.federal_approp_pctg %></td>
    <td><%= r.private_gifts_pctg_core %></td>
    <td><%= r.investment_return_pctg_core %></td>
    <td><%= r.other_rev_pctg_core %></td>
  </tr>
<% end %>
</table>
    </div>
  <div class="span4">
    <h4>% Total Revenues</h4>
    <br/><br/><%= high_chart("revenues", @rev) %>
  </div>
</div>

<div class="row">
  <div class="span8">
<table class="table table-borders table-hover">
  <h2>Expenses</h2>
  <tr>
    <th>Year</th>
    <th>Core Expenses USD</th>
    <th>Instruction Exp per FTS</th>
    <th>Research Exp per FTS</th>
    <th>Public Service Exp per FTS</th>
    <th>Academic Support Exp per FTS</th>
    <th>Student Services Exp Support per FTS</th>
    <th>Institutional Support Exp per FTS</th>
    <th>All Other Exp per FTS</th>
  </tr>
  <% @university.core_expenses.each do |r| %>
  <tr>
    <td><%= r.year %></td>
    <td><%= number_to_currency(r.core_expenses_usd, :unit => "$") %></td>
    <td><%= r.instruction_exp_per_fte %></td>
    <td><%= r.research_exp_per_fte %></td>
    <td><%= r.public_service_exp_per_fte %></td>
    <td><%= r.academic_support_exp_per_fte %></td>
    <td><%= r.student_services_exp_per_fte %></td>
    <td><%= r.institutional_support_exp_per_fte %></td>
    <td><%= r.all_other_core_exp_per_fte %></td>
  </tr>
<% end %>
</table>
    </div>
  <div class="span4">
    <h4>$/Full Time Student</h4>
   <br/><br/><br/>
   <%= high_chart("expenses", @exp) %>
  </div>
</div>


<div class="well">
        <ul>Notes<br/>
        &Dagger; - or most recent (some Ivy League records are as old as 1996 but no more than that, most are c. 2004-2011)<br/>
        The source for this data was the Department of Education (<a href="http://nces.ed.gov/ipeds">nces.ed.gov/ipeds</a>). There were originally over 9000 federally accredite$
        </ul>
</div>
